:root {
  --link-hover: rgba(33, 150, 243, 1);
  --btn-fokus-text: rgba(255, 255, 255, 1);
  --logo-accent: rgba(33, 150, 243, 1);
  --hero-footer-color: rgba(47, 48, 58, 1);
  --sec-title-color: rgba(33, 33, 33, 1);
  --paragraph-text: rgba(117, 117, 117, 1);
  --btn-background: rgba(33, 150, 243, 1);
  --title-color: rgba(33, 33, 33, 1);
}
/*------- Reset and so on -----------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  background-color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
}
/*скрывается заголовок*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------------------------*/
/*------------ header -----------*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 1px dashed tomato;*/
}
.section {
  padding: 94px 0;
}

.page-header {
  /*padding: 24px 0 25px;*/
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.page-header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .link {
  display: block;
}
.header-contacts {
  display: block;
}
.logo {
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  color: var(--logo-accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.page-header .logo {
  margin-right: 93px;
  padding: 24px 0 25px;
}

.logo-accent {
  color: rgba(33, 33, 33, 1);
}
.header-list-item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgba(33, 33, 33, 1);
}
.header-list {
  display: flex;
  align-items: center;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
/*.header-list.link {
  color: rgba(33, 33, 33, 1);
}*/

/*.header-list .link:visited {
  color: rgba(33, 33, 33, 1);
}*/

.header-list .link.current {
  color: var(--link-hover);
}
.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-hover);
}

.header-list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list .link:focus,
.header-list .link:hover,
.header-contacts .link:focus,
.header-contacts .link:hover {
  color: var(--link-hover);
}
.header-contacts .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-envelope,
.icon-handy {
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

/* ----в эффективности этого visited я сомневаюсь, 
но тогда есть вопросы----- */

.header-contacts .link:visited {
  color: rgba(117, 117, 117, 1);
}

/* ------- HERO 235px------*/
.hero {
  background-color: rgba(196, 196, 196, 1);
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
}

.hero-overlay {
}
.hero-content {
  padding: 200px 235px;
}
.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.hero-btn {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  background-color: var(--btn-background);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--btn-fokus-text);
  background-color: rgba(24, 140, 232, 1);
}

/* ----- Блок Особенности -----*/

.qualities {
}

/*.qualities-item:not(:last-child) {
  margin-right: 30px;
}*/
.qualities-list {
  display: flex;
  /*margin: -15px;*/
  column-gap: 30px;
}
.qualities-item {
  /*outline: 1px dashed green;*/
  /*width: calc((100% - 4 * 30px) / 4);
  margin: 15px;*/
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.qualities-icon {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  justify-content: center;
  /*padding: 25px 100px;*/
  align-items: center;
}

.qualities-sec-title {
  color: var(--sec-title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.qualities-text {
  color: var(--paragraph-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* --- Блок Чем мы занимаемся--- */
.dealing {
  padding-top: 0;
}
.dealing-list {
  display: flex;
  margin: -15px;
}
.dealing-link {
}
.dealing-item {
  flex-basis: calc((100%-3 * 30px) / 3);
  margin: 15px;
  /* outline: 1px dashed green;*/
  position: relative;
}
.dealing-overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.dealing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.dealing-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* -------Блок Наша команда-------*/
.team {
  background-color: rgba(245, 244, 250, 1);
}
.team-list {
  display: flex;
}
.team-item {
  background-color: rgba(255, 255, 255, 1);
  flex-basis: calc((100% -3 * 30px) / 4);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-img {
  margin-bottom: 30px;
}
.team-sec-title {
  color: var(--sec-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.team-soc-block {
  display: block;
  padding: 0 32px;
}
.team-soc-list {
  display: flex;
}

.team-soc-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  color: rgba(255, 255, 255, 1);
  background-color: var(--link-hover);
}
/* ------- Clients -------- */
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.clients-list {
  display: flex;
  margin: 0 -15px 0;
}
.clients {
  background-color: rgba(255, 255, 255, 1);
}
.clients-item {
  display: flex;
  flex-basis: calc((100% -6 * 30px) / 6);
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 1);
}
.clients-link {
  display: flex;
  height: 92px;
  color: rgba(175, 177, 184, 1);
  width: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
  border-color: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--link-hover);
  border-color: var(--link-hover);
}

/* ------- Footer -------- */
.page-footer {
  background-color: var(--hero-footer-color);
  margin: 0 auto;
  padding: 60px 0;
}
.footer-blocks {
  display: flex;
  align-items: baseline;
}
.footer-block-address {
  margin-right: 70px;
  width: 231px;
  /*padding: 60px 0;*/
  /*outline: 1px solid green;*/
}
.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}
/*.adr {
  margin-top: 20px;
}*/
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo-accent {
  color: rgba(255, 255, 255, 1);
}

.footer-adress {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:hover,
.footer-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--link-hover);
}

/* --- Footer soc links ---- */
.footer-block-social {
  margin-right: auto;
  /* outline: 1px solid green;*/
}

.footer-block-social-title {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--btn-fokus-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--link-hover);
}
.footer-block-mailing {
  /*outline: 1px solid green;*/
  /* width: 570px;*/
  /*height: 86px;*/
}
.footer-mailing-text {
  margin-bottom: 20px;
  font-weight: 700;

  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-fokus-text);
}
.footer-mailing-field {
  display: flex;
}

.footer-mailing-imput {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mailing-imput:focus {
  color: rgba(255, 255, 255, 1);

  border-color: rgba(255, 255, 255, 1);
}
.footer-mailing-imput::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-mailing-btn {
  display: flex;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  letter-spacing: 0.06em;
  background-color: var(--btn-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  color: var(--btn-fokus-text);
}
.icon-send {
  margin-left: 10px;
}

/* ----- Portfolio ------ */
.examples {
}
.exaples-title {
}

.examples-navi {
}
.container .examples-navi {
}
.exaples-filter {
}

.exaples-filter-btn {
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:not(:last-child) {
  margin-right: 8px;
}
.filter-first-btn {
  color: var(--btn-fokus-text);

  background-color: var(--btn-background);
}
.exaples-filter-btn:hover,
.exaples-filter-btn:focus {
  color: var(--btn-fokus-text);
  background-color: var(--btn-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
/* ---- Список карточек ---------*/
.examles-card {
}

.examples-navi {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.examples-list-item {
  margin: 15px;
  /*flex-basis: calc((100%-60px) / 3);*/
  flex-basis: calc(100% / 3 - 30px);
  /*border: 1px solid #eeeeee;*/
}

.examples-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-wrap {
  position: relative;
  overflow: hidden;
}
.examples-wrap-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-wrap-text,
.examples-link:focus .examples-wrap-text {
  transform: translateY(0);
}

.examples-content {
  padding: 20px 24px;
}

.examples-sec-title {
  margin-bottom: 4px;
  color: var(--sec-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*----- Модальное окно -----*/
.backdrop {
  position: fixed;
  padding: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 500ms linear;
  /*без этого не работает обратная анимация*/
}
.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms linear;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: rgba(33, 150, 243, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0) rotate(180deg);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.comment-area:focus {
  border-color: rgba(33, 150, 243, 1);
  outline: transparent;
}
.modal-input:focus + .modal-icon {
  fill: rgba(33, 150, 243, 1);
}
.modal-label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.privacy-field {
  margin-bottom: 30px;
  text-align: center;
}
.privacy-text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.privacy-link {
  color: var(--link-hover);
}
/* Кастомный чекбокс */
.privacy-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-check:focus + .privacy-text > .input-check {
  border-color: rgba(33, 150, 243, 1);
}
.check-icon {
  fill: transparent;
}

.privacy-check:checked + .privacy-text span {
  background-color: rgba(33, 150, 243, 1);
  border: none;
}
.privacy-check:checked + .privacy-text .check-icon {
  fill: var(--btn-fokus-text);
}
/* ---------------------*/
.modal-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: rgba(255, 255, 255, 1);
  background-color: var(--btn-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: rgba(24, 140, 232, 1);
  outline: transparent;
}
