.page-footer {
  background-color: var(--hero-footer-color);
  margin: 0 auto;
  padding: 60px 0;
}
.footer-blocks {
  display: flex;
  align-items: baseline;
}
.footer-block-address {
  margin-right: 70px;
  width: 231px;
  /*padding: 60px 0;*/
  /*outline: 1px solid green;*/
}
.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}
/*.adr {
  margin-top: 20px;
}*/
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo-accent {
  color: rgba(255, 255, 255, 1);
}

.footer-adress {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  line-height: 1.71;

  transition: var(--transition-color);
}
.footer-email,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;

  transition: var(--transition-color);
}
.footer-adress:hover,
.footer-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* --- Footer soc links ---- */
.footer-block-social {
  margin-right: auto;
  /* outline: 1px solid green;*/
}

.footer-block-social-title {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);

  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
}
.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--btn-text);
  transition: var(--transition-background-color);
}

.footer-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-block-mailing {
  /*outline: 1px solid green;*/
  /* width: 570px;*/
  /*height: 86px;*/
}
.footer-mailing-text {
  margin-bottom: 20px;
  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
  color: var(--btn-text);
}
.footer-mailing-field {
  display: flex;
}

.footer-mailing-imput {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition: var(--transition-border-color);
}
.footer-mailing-imput:focus {
  color: rgba(255, 255, 255, 1);

  border-color: rgba(255, 255, 255, 1);
}
.footer-mailing-imput::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.footer-mailing-btn {
  outline: 1px solid transparent;
}
.icon-send {
  margin-left: 10px;
}
