.backdrop {
  position: fixed;
  padding: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 500ms linear;
  /*без этого не работает обратная анимация*/
}
.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms linear;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0) rotate(180deg);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;

  color: var(--title-color);
}
.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.comment-area:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 1);
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.privacy-field {
  margin-bottom: 30px;
  text-align: center;
}
.privacy-text {
  line-height: 1.71;

  color: #757575;
}
.privacy-link {
  color: var(--accent-color);
}
/* Кастомный чекбокс */
.privacy-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-check:focus + .privacy-text > .input-check {
  border-color: var(--accent-color);
}
.check-icon {
  fill: transparent;
}

.privacy-check:checked + .privacy-text span {
  background-color: var(--accent-color);
  border: none;
}
.privacy-check:checked + .privacy-text .check-icon {
  fill: var(--btn-text);
}
/* ---------------------*/
.modal-submit-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0 auto;
}
.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: var(--btn-hover-background);
  outline: transparent;
}
