.examples {
}
.exaples-title {
}

.examples-navi {
}
.container .examples-navi {
}
.exaples-filter {
}

.exaples-filter-btn {
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:not(:last-child) {
  margin-right: 8px;
}
.filter-first-btn {
  color: var(--btn-text);

  background-color: var(--btn-background);
}
.exaples-filter-btn:hover,
.exaples-filter-btn:focus {
  color: var(--btn-text);
  background-color: var(--btn-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
/* ---- Список карточек ---------*/
.examles-card {
}

.examples-navi {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.examples-list-item {
  margin: 15px;
  /*flex-basis: calc((100%-60px) / 3);*/
  flex-basis: calc(100% / 3 - 30px);
}

.examples-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(238, 238, 238, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-wrap {
  position: relative;
  overflow: hidden;
}
.examples-wrap-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-wrap-text,
.examples-link:focus .examples-wrap-text {
  transform: translateY(0);
}

.examples-content {
  padding: 20px 24px;
}

.examples-sec-title {
  margin-bottom: 4px;
  color: var(--sec-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--paragraph-text);
  font-size: 16px;
  line-height: 1.88;
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
