.team-soc-block {
  display: block;
  padding: 0 32px;
}
.team-soc {
  display: flex;
}

.team-soc__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;

  &:last-child {
    margin-right: 0;
  }
}
.team-soc__icon {
  fill: currentColor;
}

.team-soc__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(175, 177, 184, 1);
  transition: var(--transition-color), var(--transition-background-color);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color: var(--accent-color);
  }
}
