:root {
  --link-hover: rgba(33, 150, 243, 1);
  --btn-fokus-text: rgba(255, 255, 255, 1);
  --logo-accent: rgba(33, 150, 243, 1);
  --hero-footer-color: rgba(47, 48, 58, 1);
  --sec-title-color: rgba(33, 33, 33, 1);
  --paragraph-text: rgba(117, 117, 117, 1);
  --btn-background: rgba(33, 150, 243, 1);
  --title-color: rgba(33, 33, 33, 1);
}
